@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure Website B (appgateway v2)</h1>
    <p class="lead">Example .NET app to Azure App Service - HelloTestApp99 Demo.</p>
    <div>Host operating system: @Model.OSVersion</div>
</div>
